.component {
  display: flex;
  flex-direction: column;
}

.showMoreButton {
  margin: 24px;
  cursor: pointer;
  padding: 12px;
  background-color: orange;
  border: 1px solid black;
  border-radius: 12px;
  align-self: flex-start;

  &:hover {
    background-color: rgb(250, 202, 112);
  }
}
